# Compiled binary files
*.exe
*.dll
*.so
*.dylib
*.out
*.o

# Build output directories
dist
bin
obj

# Dependency directories
vendor
Godeps/_workspace

# Go modules
go.sum

# IDE files and directories
.vscode
.idea
*.swp
*.swo
*.swn

# OS-specific files and directories
.DS_Store
Thumbs.db
desktop.ini
*.log

# User-specific files and directories
*.pem
*.key
*.crt
config.toml
